body {
  font-size: 16px;
}
#loading_text {
  font-size:18px;
}
#slogan_text {
  font-size:14px;
}
.login {
  font-size:14px;
}
.textinput {
  font-size:14px;
}
#about_ossi {
  font-size:14px;
}
#loggedin_text {
  font-size:14px;
}
.nav_button_text {
  font-size:18px;
  font-weight:bold;
}
.feed_button_text {
  font-size:14px;
}
.search_results_profile_button {
  font-size:16px;
}
#post_content {
  font-size:15px;
}
.button_title {
  font-size:15px;
}
.post_text {
  font-size:15px;
}
.button_content_text {
  font-size:14px;
}
.button_subtitle_text {
  font-size:13px;
}
.myprofile_input {
  font-size:14px;
}
#status_textarea {
  font-size:14px; 
}
option {
  font-size:14px;
}
h2 {
  font-size: 16px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 15px;
}
.nav_button {
  padding-top:11px;
  height:50px;
}










